/* 기본 스타일 */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
}

nav {
    position: sticky;
    top: 0px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #fafafa;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    z-index: 1;
    text-overflow: ellipsis;
    height: 50px;
    box-sizing: border-box;
}

#menuButton {
    display: none; /* Default to hidden */
}

#verticalMenu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navMenuLinkContent {
    padding: 15px;
    text-decoration: none;
    color: #000;
}

.navMenuLinkContent:hover {
    color: #0056b3;
}

.navMenuLinkContent.active {
    color: #ffc107;
    font-weight: bold;
}

header, footer {
    background-color: #f8f9fa ;
    color: #343a40;
    padding: 20px 0;
    text-align: center;
}

.navbar {
    margin-bottom: 20px;
}

.navbar-brand, .nav-link {
    color: white !important;
}

.nav-link:hover {
    color: #ffc107 !important;
}

main {
    padding: 20px;
}

h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

form {
    margin-bottom: 20px;
}

.footer {
    border-top: 1px solid #e1e1e1;
    padding-top: 10px;
    margin-top: 20px;
    text-align: center;
}

.footer .nav {
    justify-content: center;
    padding: 10px 0;
}

.footer .nav-item {
    display: inline;
}

.footer .nav-link {
    color: #6c757d !important;
    padding: 0 10px;
    text-decoration: none;
}

.footer .nav-link:hover {
    color: #0056b3 !important;
}

.footer-content p {
    margin: 0;
    color: #6c757d;
    font-size: 14px;
}

.footer-content .country {
    float: right;
}

/* Mobile specific styles */
@media (max-width: 768px) {
    #menuButton {
        display: flex; /* Show menu button on mobile */
    }

    #verticalMenu {
        display: none; /* Hide menu items on mobile */
    }

    #menuToggle:checked + #menuButton + #verticalMenu {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: #fafafa;
        position: absolute;
        top: 50px;
        left: 0;
        z-index: 2;
    }

    .navMenuLinkContent {
        padding: 10px;
        text-align: center;
    }
}


.delete-button {
    color: white !important;
    background-color: #721c24 !important;
    border: none !important;
    cursor: pointer !important;
    font-size: 18px !important;
    font-family: 'Montserrat', sans-serif !important;
    padding: 10px 20px !important;
    margin-left: 10px !important;
}

.download-button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    padding: 10px 20px;
    margin-right: 10px;
}

.hochladen-button {
    width: 120px !important;
    margin: 20px auto; 
    display: block; 
    padding: 10px; 
    font-size: 16px; 
    border-radius: 5px; 
    background-color: #007bff; 
    color: white; 
    border: none; 
    cursor: pointer; 
}

.form-container {
    display: flex;
    justify-content: space-between;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.login-box { 
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.logo-container img {
    max-width: 100px;
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 10px;
    font-size: 24px;
}

p {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

.documentation-box {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 1200px;
    aspect-ratio: 16 / 9;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.documentation-box h2:first-of-type {
    margin-top: 0; 
    padding-top: 20px; 
}

.documentation-box .alert {
    margin-bottom: 40px; 
}

.documentation-box h2:nth-of-type(2) {
    margin-top: 20px; 
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    box-sizing: border-box;
}

.btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

.btn:hover {
    background-color: #0056b3;
}

.alert {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

ul li input {
    margin-right: 10px;
}

.upload-form {
    margin-top: 20px;
    width: 100%;
    max-width: 1200px;
    text-align: center;
    background-color: #ffffff;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}
